$primary-background-color: #fff;
$secondary-background-color: #f4f9f9;
$selected-background-color: #deecff;
$primary-text-color: #000;
$secondary-text-color: #818791;
$h1-normal: 1.8rem;
$h1-mobile: 1.5rem;
$h2-normal: 1.5rem;
$h2-mobile: 1.2rem;
$h3-normal: 1.2rem;
$h3-mobile: 1rem;
$p-normal: 0.8rem;
$p-mobile: 0.6rem;
